name:
  Sample Orca Secrets Scan Workflow
  # Trigger the workflow on push and pull requests
on: [workflow_dispatch]
jobs:
  orca-secrets-scan:
    name: Orca secrets Scan
    runs-on: ubuntu-latest
    env:
      PROJECT_KEY: slrk
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.branch || github.ref }}
      
      - name: Orca-CLI binary execution
        run: |
          pwd
          ls -lah
          curl -sfL 'https://raw.githubusercontent.com/orcasecurity/orca-cli/main/install.sh' | bash -s -- 1.80.0
          orca-cli -v
          orca-cli -p ${{ env.PROJECT_KEY }} -k ${{ secrets.ORCA_SECURITY_API_TOKEN }} secrets scan .

      - name: Run Orca Secrets Scan
        uses: orcasecurity/shiftleft-secrets-action@v1
        with:
          api_token: ${{ secrets.ORCA_SECURITY_API_TOKEN }}
          project_key: ${{ env.PROJECT_KEY }}
          path: ./
